/* The Body */
body {
    background-color: #EDEAE0;
    margin: 0;
    padding: 0;
}

p {
    font-family: sans-serif
}

a {
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#content {
    max-width: 1600px;

}

/* THE HEADER */

.header {
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    padding: 0;
    background-color: #EDF2F4;
    justify-content: space-between;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    
}

/* THE LOGO */

.main-nav img {
    width: fit-content;
    height: 100%;
    margin-left: 8px;
    margin-right: 20px;
    
}

/* NAVGATION BAR */

.main-nav {
    display: flex;
    justify-content: space-between;
}

.nav-bar a {
    font-family: Domine;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    padding: 0px;
    align-items: center;
    line-height: 60px;
    text-decoration: none;
}

header nav a:hover {
    color: #EF233C;
}

body, html {
    height: 100%;
}
/* Hero Baner Image */

#hero-box img {
    width: 100%;
}

.button-box a {
    color: #000;
    font-size: x-large;
    font-weight: bold;
}

#hero-msg {
    color: #0499D9;
    text-align: center;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

.button-box a:hover {
    color: #EF233C;
    
}

.button-box a {
    background-color: #fff;
    text-decoration: none;
    font-size: 28px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 10px;
    border: 3px solid #000;
}

/* Main Content */

.card-img {
    width: 50%;
    margin-left: 25%;
    border-radius: 5px;
    border: 10px solid #EF233C;

}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}


.icon {

    width: 80px;
}

.mountains {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 50px;

}

#background {
    height: 725px;
    background-color: #0499D9;
    color: #000;
    margin-bottom: 50px;
}

.msg p {
    text-align: center;
    color: #EDEAE0;
    font-size: 1.2em;
    padding: 15px 30px;
}

.msg h2 {
    text-align: center;
    color: #EDF2F4;
    font-size: 2em;
}

.msg a {
    background-color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 50px;
    margin-left: 46%;
    border-radius: 10px;
    border: 3px solid #000;
    text-align: center;
}

.msg a:hover {
    color: #EF233C;
}

.msg {
    background-color: #0499D9;
    padding: 40px 30px;
    margin-bottom: 300px;
}

/* Footer Section*/

a img {
    width: 5%;
    margin-bottom: 5px;
    margin-left: 30px;
    border-radius: 50px;

}

footer p {
    font-size: 1.2em;
    margin-left: 45px;
    color: #fff;
    
}  

footer p a:hover {
    text-decoration: underline;
}

footer {
    background-color: #0499D9;
    padding-top: 15px;

}

footer a {
    color: #fff;
}